<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>ToDo App</title>
</head>
<body>

    <nav class="navbar">
        <div class="logo">ToDoApp</div>
        <ul class="nav-links">
            <li><a routerLink="/welcome/satyam">Home</a></li>
            <li><a routerLink="/todos">Tasks</a></li>
            <li><a routerLink="#">Completed</a></li>
            <li><a routerLink="#">Profile</a></li>
        </ul>
        <ul class="nav-links">
            <li><a routerLink="/login">Login</a></li>
            <li><a routerLink="/logout">Logout</a></li>
        </ul>
    </nav>

</body>
</html>
